@use'../base/variables' as v;
@use'../base/mixins' as m;

.planes{
    padding: 5rem 0;
    background-color: v.$secundario;
    @include m.tablet { 
        padding-bottom: 10rem;
    }
    &__planes{
        display: grid;
        gap: 3rem;
        grid-template-rows: repeat(3,1fr);
        justify-content: center;
        @include m.tablet {
            grid-template-rows: none;
            grid-template-columns: repeat(3,1fr);
            max-width: 74rem;
            margin-inline: auto;
            gap: 0rem;
        }
    }
    &__negocio{
        grid-row: 1/2;
        @include m.tablet{ 
            grid-column: 2/3;
            
        }
    }
    &__card{
        background-color: v.$blanco;
        border-radius: 10px;
        padding: 1rem;
        margin: 1rem;
        padding: 15rem 5rem 5rem 5rem;
        text-align: center;
        transition-property: transform;
        transition-duration: 300ms;
        &:hover{
            transform: scale(1.1);
        }
        @include m.tablet{
            padding: 15rem 0 5rem;
            margin: 0;
        }
    }
    &__inicio, &__negocio, &__pro{
        background-image: url(../img/icono_inicio.svg);
        background-repeat: no-repeat;
        background-size: 10rem;
        background-position: 50% 2rem;
    }
    &__negocio{
        background-image: url(../img/icono_negocio.svg);
    }
    &__pro{
        background-image: url(../img/icono_pro.svg);
    }
    &__card--primario{
        background-color: v.$primario;
        @include m.tablet { 
            margin: -3rem 0;
        }
    }
    &__titulo{
        color: v.$blanco;
    }
    &__texto{
        color: v.$blanco;
    }
    &__info{
        margin-bottom: 10rem;
        @include m.desktop { 

            margin-bottom: 5rem;
        }
    }
    &__precio{
        font-weight: 700;
    }

}

li{
    margin-bottom: 1rem;
}
.btn{
    @include m.boton(v.$primario, v.$secundario);
    margin-top: 2rem;
    border: 2px solid v.$blanco;
    @include m.tablet{
        margin-top: 0;
    }
}

